.text-field {
  background-color: transparent;
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 10px 0;
  transition: 0.7s;
  span {
    font-size: 13px;
  }

  &.active {
    padding-bottom: 34px;
    input {
      width: 100% !important;
      top: 37px;
      right: 0 !important;
    }
  }

  input {
    flex-grow: 1;
    transition: var(--transition);
    position: absolute;
    top: calc(50% - 11px);
    padding: 0 5px;
    outline: none;
    border: 0;
    background-color: transparent;
    z-index: 10;
    font-size: 15px;

    &::placeholder {
      font-family: 'IranSansNum' !important;
      font-size: 13px;
    }
  }
  
  .wPlaceholder::placeholder {
    color: #e2e2e2e6;
  }
  .bPlaceholder::placeholder {
    color: #0e0e0ee6;
  }
}
