@font-face {
  font-family: 'IranSans';
  src: url('/font/IranSans/IRANSansWeb.ttf');
}
@font-face {
  font-family: 'IranSansMedium';
  src: url('/font/IranSans/IRANSansWeb_Medium.ttf');
}
@font-face {
  font-family: 'IranSansBold';
  src: url('/font/IranSans/IRANSansWeb_Bold.ttf');
}
@font-face {
  font-family: 'IranSansLight';
  src: url('/font/IranSans/IRANSansWeb_Light.ttf');
}
@font-face {
  font-family: 'IranSansNum';
  src: url('/font/IranSans/IRANSansWeb(FaNum).ttf');
}
@font-face {
  font-family: 'IranSansMediumNum';
  src: url('/font/IranSans/IRANSansWeb(FaNum)_Medium.ttf');
}
@font-face {
  font-family: 'IranSansLightNum';
  src: url('/font/IranSans/IRANSans(FaNum)_Light.ttf');
}
@font-face {
  font-family: 'IranSansBoldNum';
  src: url('/font/IranSans/IRANSansWeb(FaNum)_Bold.ttf');
}
