// @font-face {
//     font-family: 'IranSansNum';
//     src: url("../assets/fonts/IRANSansWeb\(FaNum\).ttf");
// }
// @font-face {
//     font-family: 'IranSansBold';
//     src: url('../assets/fonts/IRANSansWeb_Bold.ttf')
// }
// @font-face {
//     font-family: 'IranSansLight';
//     src: url('../assets/fonts/IRANSansWeb_Light.ttf')
// }
// @font-face {
//     font-family: 'IranSansLightNum';
//     src: url('../assets/fonts/IRANSans\(FaNum\)_Light.ttf')
// }

.IranSansNum {
  font-family: 'IranSansNum' !important;
}
.IranSansMedium {
  font-family: 'IranSansMedium' !important;
}
.IranSansBold {
  font-family: 'IranSansBold' !important;
}
.IranSansLight {
  font-family: 'IranSansLight' !important;
}
.IranSansLightNum {
  font-family: 'IranSansLightNum' !important;
}
.IranSansMediumNum {
  font-family: 'IranSansMediumNum' !important;
}
.IranSansBoldNum {
  font-family: 'IranSansBoldNum' !important;
}
