:root {
  --white: #fff;
  --white-d2: #F2F2F2;
  --white-d3: #F3F3F3;
  --whiteSmoke-d1: #ededed;
  --whiteSmoke-d2: #ECECEC;
  --whiteSmoke-d3: #E0E0E0;
  --whiteSmoke-d4: #E5E5E5;
  --gray: #CFCFCF;
  --gray-d1: #8D8D8D;
  --gray-d2: #808080;
  --darkgray: #444444;
  --dark: #131313;
  --dark-d1: #040404;
  --primary: #63C752;
  --primary-d1: #38C24A;
  --primary-d3: #63C7524D;
  --transition: 0.4s;
}
